<h1><%= t ".title" %></h1>
<% provide :button_text, t(".submit") %>
<div class="row">
  <%= render "form", url: admin_questions_path %>
</div>
<%= javascript_pack_tag "question", "data-turbolinks-track": "reload" %>
